<!DOCTYPE html>
<html lang='en'>

  <head>
    <title>TinyApp</title>
  </head>

  <header>
    <%include ./partials/_header %>
  </header>

  <body style='font-size:20px; padding:50px;'>
    <!-- Add your EJS code here -->
    <ul>
      <li>
          <%=longURL%><stong> : </stong><%=shortURL%>
          <form method='POST' action='/urls/b2xVn2'>
            <input id='longURL' type='text' name='longURL' placeholder='http://' style='width: 300px'>
            <input type='submit' value=' Update ðŸ–ï¸ '>
          </form>
      </li>
    </ul>

    <button><a href='/urls/new'>Shorten a new URL</a></button>

  </body>

</html>