<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <header>
    <%include ./partials/_header %>
  </header>
  <body>
    <!-- Add your EJS code here -->
    <ul>
      <li><%=longURL%><stong> : </stong><%=shortURL%></li>
    </ul>
  </body>
</html>