<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <header>
    <%include ./partials/_header %>
  </header>

  <body>
    <!-- Add your EJS code here -->
    <ul>
      <%for (var url in urls){%>
      <li><a href= '#'><%=url%> : <%=urls[url]%></a></li>
      <%}%>
    </ul>
  <a href= '#'>Shorten a new URL!</a>
  </body>
</html>