<!DOCTYPE html>
  <html lang='en'>

    <head>
      <title>TinyApp</title>
    </head>

    <header>
      <%include ./partials/_header %>
    </header>

    <body style='font-size:20px; padding:50px;'>

      <form action='/login' method='POST'>
        <label for='email'>Enter your e-mail: </label>
        <input id='email' type='email' name='email' placeholder='e-mail' style='width: 300px'>
        <br>
        <label for='password'>Enter your password: </label>
        <input id='password' type='password' name='password' placeholder='e-mail' style='width: 300px'>
        <br>
        <input type='submit' value=' Login 💻 '>
      </form>

    </body>

  </html>
