<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
    <%include ./partials/_header %>
  </head>
  <body>
    <!-- Add your EJS code here -->
    <ul>
      <li><strong>Long URL: </strong><%=longURL%><strong>  Shortened URL: </strong><%=shortURL%></li>


    </ul>
  </body>
</html>